In [1]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import requests
import pandas as pd
import time

In [2]:
# Mac Users
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Windows Users
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

In [4]:
mars_dict = {}

# Nasa Mars News

In [5]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
time.sleep(5)

In [6]:
html = browser.html
soup = bs(html, 'html.parser')

In [7]:
news_title = soup.find('ul',class_='item_list').find('div',class_='content_title').text
news_title
mars_dict["news_title"] = news_title

In [8]:
news_paragraph = soup.find('ul',class_='item_list').find('div',class_='article_teaser_body').text
mars_dict["news_paragraph"] = news_paragraph

# Nasa Mars Images

In [9]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
baseurl = 'https://www.jpl.nasa.gov/'
browser.visit(url)

In [10]:
browser.click_link_by_id('full_image')
time.sleep(5)
html = browser.html
soup = bs(html,'html.parser')
url = browser.url

In [11]:
marsimgsrc = soup.find('div',id="fancybox-lock").find('img',class_='fancybox-image')["src"]

In [13]:
fullurl = baseurl + marsimgsrc

mars_dict["Mars_image"] = fullurl

# Mars Twitter

In [14]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)
time.sleep(5)

In [15]:
html = browser.html
soup = bs(html,'html.parser')

In [16]:
mars_weather = soup.find('div',class_='css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0').find('span').text
mars_dict["weather"] = mars_weather

# Mars Facts

In [17]:
url = 'https://space-facts.com/mars/'
tables = pd.read_html(url)

In [18]:
df = tables[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [19]:
df.columns = ["Characteristics","Values"]
df.Characteristics = df.replace({":":""},regex=True)
df

       Characteristics                         Values
0  Equatorial Diameter                       6,792 km
1       Polar Diameter                       6,752 km
2                 Mass  6.39 × 10^23 kg (0.11 Earths)
3                Moons            2 (Phobos & Deimos)
4       Orbit Distance       227,943,824 km (1.38 AU)
5         Orbit Period           687 days (1.9 years)
6  Surface Temperature                   -87 to -5 °C
7         First Record              2nd millennium BC
8          Recorded By           Egyptian astronomers

In [20]:
html_table = df.to_html().replace("\n","")
mars_dict["facts"] = html_table

# USGS Mars Hemispheres

## Cerberus Hemisphere

In [21]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)
time.sleep(5)
html = browser.html
soup = bs(html,'html.parser')

In [22]:
items = soup.find_all('div', class_="item")
hemis_urls = []

for item in items:
    title = (item.find('h3').text).replace(' Enhanced', '')
    browser.click_link_by_partial_text(title)
    time.sleep(5)
    soup = bs(browser.html, 'html.parser')
    
    full = soup.find('a', text='Sample')
    img_url = full['href']
    
    hemis_urls.append({'title': title, 'img_url': img_url})
    browser.back()

browser.quit()    

mars_dict["hemispheres"] = hemis_urls

/opt/anaconda3/envs/PythonData2020_1/lib/python3.6/site-packages/splinter/driver/webdriver/__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [25]:
mars_dict.keys()

dict_keys(['news_title', 'news_paragraph', 'Mars_image', 'weather', 'facts', 'hemispheres'])